= render 'shared/people/show/primary_tech', person: @person
= render 'shared/people/show/status', person: @person
= render 'shared/people/show/city', person: @person
= render 'shared/people/show/expected_salary', person: @person
= render 'shared/people/show/phone', person: @person
= render 'shared/people/show/skype', person: @person
= render 'shared/people/show/emails', person: @person
= render 'shared/people/show/linkedin', person: @person
= render 'shared/people/show/github', person: @person
= render 'shared/people/show/english', person: @person
= render 'shared/people/show/source', person: @person
= render 'shared/people/show/vacancies', person: @person
= render 'shared/people/show/tags', person: @person
= render 'shared/people/show/skills', person: @person

= render 'shared/people/show/notes', person: @person
= render 'shared/people/show/attachments', person: @person
= render 'shared/people/show/actions', person: @person
