@import "bootstrap";
@import "adminlte";
@import "font-awesome";

.main-sidebar{
  background: #fff;
}
.label-block{
  display: block;
}
.sidebar-dark-primary .brand-link{
  border-bottom: 1px solid #dfdfdf;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
  background: linear-gradient(14deg, #1761fd 0%, rgba(23,97,253,0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);
    /*box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);*/
    border-radius: 4px;
}
.content-header .breadcrumb{
  font-size: 13px;
}
.control-sidebar-dark{
  background: #fff;
}

.content-wrapper{
  background:#edf0f5;
}
div#adv-searchbox {
  display: none;
  margin: 20px 0;
  border-radius: 5px;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 2px 4px rgba(31,30,47,0.1);
    box-shadow: 0px 2px 4px rgba(31,30,47,0.1);
    margin-bottom: 24px;
    background-color: #fff;
}
.card-count{
  color: #007bff!important;
    font-weight: 600;
    font-size: 50px;
    display: block;

}

.card-header .h5, h5 {
    font-size: 1rem;
    font-weight: bold;
}
.icon-cards{

  max-width: 100px;
    float: right;
    opacity: .4;
}
.control-sidebar-dark, .control-sidebar-dark .nav-link, .control-sidebar-dark a {
    color: #7f7f7f;
}
.control-sidebar-dark a:hover {
    color: #007bff;
}
.nav-sidebar>.nav-item {
    margin-bottom: 10px;
}
.nav-pills .nav-link:not(.active):hover {
    color: #007bff!important;
}
.btn-primary{
  background: linear-gradient(14deg, #1761fd 0%, rgba(23,97,253,0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);
    box-shadow: 3px 3px 10px 0 rgba(23,97,253,0.4);
}

ul.profile-menu {
    padding: 0;
    list-style: none;
}
ul.profile-menu  li a{
  display: block;
  padding: 10px;
      border-bottom: 1px solid #dfdfdf;
}
ul.profile-menu  li a i {
  margin-right:8px;
}
.table thead th, tfoot th {
    vertical-align: bottom;
    border-color: #6e99f5!important;
    /* font-size: 14px; */
    font-weight: 400;

        background: linear-gradient(14deg, #5188fd  0%, rgba(23,97,253,0.6));
   /* -webkit-box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);*/
    color: #ffffff;
    border-bottom: none;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.02);
}
.input-group-text{
      background-color: #6092fe;
    border: 1px solid #6092fe;
        color: #ffffff;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
      background-color: #669dfe;
}
.daterangepicker td.in-range{
  background-color: #8db6ff;
      color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    background: linear-gradient(14deg, #1761fd 0%, rgba(23,97,253,0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);
    box-shadow: 3px 3px 20px 0 rgba(23,97,253,0.4);
    border-radius: 4px;
    color: #fff;
        border: none;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]){
  background-color: #ffffff;
}
.nav-tabs{
      border: none;
      margin-bottom: 30px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color:transparent;
}
.ct-margins{
  margin-top: 70px;
}
span.ct-title {
    font-size: 14px;
    color: #757575;
}
.ct-details{
 font-size: 16px;
    color: #212121;
}
.logo-xs.brand-image-xl{
      left: 5px;
}

.alert.alert-alert.alert-dismissible {
  position: absolute;
  z-index: 1031;
  width: 100%;
  background: #fefaed;
  top: 75px;
  max-width: 400px;
  left: 50%;
  transform: translate(-50%, 0);
  color: red;
}

.alert.alert-notice.alert-dismissible {
  position: absolute;
  z-index: 1031;
  width: 100%;
  background: #fefaed;
  top: 75px;
  max-width: 400px;
  left: 50%;
  transform: translate(-50%, 0);
  color: green;
}
.login-form{
  background-color: #fff;
  height: auto;
}
.space-50 {
  padding: 50px;
}
.login-heading {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 50px;
}

body:not(.layout-fixed).layout-navbar-fixed .wrapper .main-sidebar .sidebar {
  margin-top: calc(3.5rem + 1px);
}
.edit-profile-img{
  max-height: 40px;
  margin-bottom: 20px;
}
[class*='sidebar-dark-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link, [class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus{
  color: #5283ff!important;
}

.holder-login {
  position: relative;
  height: 100vh;
}
#login {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 50px;
}
.login-artwork {
  height: 100vh;
  background: asset_url('artwork.jpg') center bottom / contain no-repeat rgb(203, 236, 255);
}
.inner-addon.right-addon {
  position: relative;
}
.inner-addon.right-addon a {
  position: absolute;
  right: 20px;
  top: 6px;
}
.ms-container{
  width: auto!important;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
  background-color: #3f76fe;
}
.sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link.active{
  color: #fff!important;
}
.sidebar-collapse  .sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link{
  color: #3f76fe!important;
}
.sidebar-collapse .sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link.active{
  color: #fff!important;
}
.sidebar-collapse .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active:hover{
  color: #fff!important;
}
.nav-treeview > .nav-item > .nav-link.active{
  color: #3f76fe!important;
}
:not(.layout-fixed) .main-sidebar{
  bottom: 0;
}

.xdsoft_datetimepicker{
  border: 1px solid #fff;
}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current{
  background: linear-gradient(14deg, #46da4c 0%, #8BC34A);
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current{
 background: linear-gradient(14deg, #46da4c 0%, #8BC34A);
 box-shadow:none!important;
}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover{
  background: linear-gradient(14deg, #46da4c 0%, #8BC34A);
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover{
  background: linear-gradient(14deg, #46da4c 0%, #8BC34A)!important;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th{
  background: #fff;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div{
      background: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box{
  border-bottom: 1px solid #fff;
   box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.16);
}
.xdsoft_time_box{
      border: 1px solid #fff;
}
.xdsoft_calendar{
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.16);
}

button.multiselect.dropdown-toggle.btn.btn-default{
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #798690;
}
.dropdown-toggle::after{
  float: right;
  margin-top: 9px;
}

.multiselect-container .input-group{
  margin: 0;
}
.multiselect-container > li > a.multiselect-all label{
  font-weight: 500;
}
.multiselect-container > li > a{
  color: #212121;
  font-size:14px;
}
.multiselect-container > li > a > label{
  padding: 3px 10px;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 500;
}
input.form-control.multiselect-search {
  border-radius: 3px 3px 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.input-group-addon{
  background: linear-gradient(14deg, #1761fd 0%, rgba(23, 97, 253, 0.6));
  border-radius: 5px 0 0 5px;
}
.input-group-addon .fa-calendar{
  color: #fff;
  padding: 10px
}
.mt-35{
  margin-top: 35px;
}
// li.sendemail.active a, li.sendemail:hover a {
//   color: #fff!important;
// }
// li.sendemail.active a, li.sendemail:hover a {
//   color: #fff!important;
// }
li.sendemail{
  background: transparent!important;
  padding: 0;
  margin-right: 10px!important;
}
li.sendemail.active, li.sendemail:hover{
  border: none!important;
}
li.sendemail a.nav-item:hover{
  color: #212121!important;
}
li.sendemail a.nav-item.active{
  background: linear-gradient(14deg, #1761fd 0%, rgba(23, 97, 253, 0.6));
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(23, 97, 253, 0.4);
  padding: 10px 20px;
  color: #fff!important;

}
li.sendemail:hover a{
  color: #212121!important;
}
.lead-card {
  background: #fff;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  min-width: 100px;
  min-height: 85px;
  margin-right: 15px;
  text-align: left;
  h5{
    font-weight: 500;
  }
  a{
    display: block;
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5px;
  }
  i{
    display: block;
    font-size: 16px;
    margin-top: 15px;
  }

}
span.lead-title {
  display: block;
  font-size: 14px;
  opacity: .5;
}
h4.lead-heading{
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  /* opacity: .5; */
  color: #338aff;
}
.checkboxSpacing input{
  margin-top: 20px;
}
.modal-header{
  background: #e7f0fb linear-gradient(180deg,#ffffff,#e7f0fb) repeat-x!important;
  .modal-title{
    font-weight: 500;
  }
}

div#error_explanation {
  border: 1px dashed #E57373;
  border-radius: 5px;
  background: #FFEBEE;
  padding: 10px;
  h2 {
    font-size: 15px;
    color: #a70c1a;
    font-weight: 600;
  }
  ul{
    padding: 0;
    padding-left: 30px;
    li{
      font-size: 14px;
    }
  }

}
.help-block {
  color: #F44336;
}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
  border: none;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
  overflow-y: scroll !important;
}

.modal.right .modal-body h3 {
  font-size: 18px;
  margin: 15px 0;
  color: #4e4e4e;
}

.modal.right .modal-body i {
  font-size: 14px;
  vertical-align: middle;
  color: #4e4e4e;
}

.modal.right.fade .modal-dialog {
  right: -800px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.required label:after {
  content:"*";
  color:red;
}
.required .lead-title:after{
  content:"*";
  color:red;
}
.required h5:after{
  content:"*";
  color:red;
}
.card-header{
  background: #e7f0fb linear-gradient(180deg,#ffffff,#e7f0fb) repeat-x!important;
}
.chart-canvas #chart-1{ width: 100%!important; height: 400px!important;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}