.btn-pill {
  border-radius:23px;
}

.btn-wide {
  width: 100%;
}

.btn-wide {
  margin: 10px;
  min-width: 100px;
}

.search-form {
  margin: 20px 0;
}

input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;

  & + label {
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;

    & > span {
      display          : inline-block;
      width: 1em;
      height: 1em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      border           : 0.0625em solid rgb(192,192,192);
      border-radius    : 0.25em;
      background       : rgb(224,224,224);
      background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
      vertical-align   : bottom;
    }

  }

  &:checked + label > span > span {
    display          : block;
    width            : 0.6em;
    height           : 0.6em;
    margin           : 0.150em;
    border           : 0.0625em solid darken(rgb(105, 188, 228), 10);
    border-radius    : 0.125em;
    background       : rgb(105, 188, 228);
  }
}