* {
  -webkit-overflow-scrolling:touch;
}
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
}
@media (max-width: 1150px) {
  .dashboard {
    .side-panel {
      width: 20%;
    }
    .content {
      width: 80%;
    }
  }
}
