.title {
  margin: 0;
  font-family: HelveticaNeue;
  text-transform: capitalize;
  font-weight: 600;
  color: #253ABE;
}

.group {
  border: 2px solid darken(rgba(105, 188, 228, 0.7), 10);
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0,6,155,0.2);
  -moz-box-shadow:  inset 2px 2px 2px 0px rgba(0,6,155,0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0,6,155,0.2);
}

.btn-pill {
  border-radius:23px;
}

.btn-wide {
  width: 100%;
}

.search-form {
  margin: 20px 0;
}

table.pretty-table {
  border-radius: 3px;
  margin: 20px 0;

  thead {
    border-radius: 3px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;

    tr {
      height: 60px;
    }

    th {
      border: none !important;
      vertical-align: middle;

      a {
        color: black;
        text-decoration: none;
        vertical-align: middle;
        line-height: 30px;

        i {
          .fa-sort-up, .fa-sort-down {
            line-height: inherit;
          }
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: #F7F7F7;
      }
    }
    td {
      border: none !important;
    }
  }
}

.cards {
  display: block;
  margin: 20px 0;
}

.card {
  display: inline-block;
  max-width: 250px;
  margin: 10px 10px 10px 0;
  background: white;
  border-radius: 3px;
  text-align: center;
  border: 1px solid lighten(#ADB7BA, 5);
  padding: 10px;
  box-shadow: 3px 3px 3px 0 RGBA(173, 183, 186, 0.2);

  &.wider {
    max-width: 500px;
  }

  .card-title {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .card-body {
    font-size: 2em
  }
}


input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;

  & + label {
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;

    & > span {
      display          : inline-block;
      width: 1em;
      height: 1em;
      margin           : 0.25em 0.5em 0.25em 0.25em;
      border           : 0.0625em solid rgb(192,192,192);
      border-radius    : 0.25em;
      background       : rgb(224,224,224);
      background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
      background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
      vertical-align   : bottom;
    }

  }

  &:checked + label > span > span {
    display          : block;
    width            : 0.6em;
    height           : 0.6em;
    margin           : 0.150em;
    border           : 0.0625em solid darken(rgb(105, 188, 228), 10);
    border-radius    : 0.125em;
    background       : rgb(105, 188, 228);
  }
}
