h2.title
  | Reports &nbsp;

a href="#{employees_reports_path}" Current Employees
br
a href="#{by_status_reports_path}" By HR status
br
a href="#{by_technology_reports_path}" By Technology
br
a href="#{people_with_similar_name_reports_path}" People with similar name
br
a href="#{historical_data_reports_path}" Historical data
br
| #{(Person.not_deleted.where("linkedin = '' OR linkedin IS NULL").pluck(:id) - Attachment.pluck(:person_id)).size} People have no Linkedin or CV Attachment
br
| #{(Person.not_deleted.pluck(:id) - Note.pluck(:person_id)).size} People without notes
br
| #{Person.not_deleted.where('created_at > ?', 1.month.ago).count} People added last month
br
| #{Note.where('created_at > ?', 1.month.ago).pluck(:person_id).uniq.count} Unique people contacted last month
