h2.title
  | Reports &nbsp;

a href="#{employees_simple_reports_path}" Current Employees (simple)
br
a href="#{current_employees_table_reports_path}" Current Employees Table
| &nbsp;(
a href="#{current_employees_table_reports_path(format: :xlsx)}" Export to XLSX
| )
br
a href="#{employees_by_birthday_month_reports_path}" Current Employees ordered by birthday month
br
a href="#{employees_by_last_one_on_one_meeting_date_reports_path}" Current Employees by Date of Last 1-1 Meeting with Management
br
a href="#{employees_without_nda_signed_reports_path}" Current Employees without NDA signed
br
a href="#{employees_expenses_reports_path}" Current Employees expenses
/br
/a href="#{by_status_reports_path}" By HR status
/br
/a href="#{by_technology_reports_path}" By Technology
br
a href="#{people_with_similar_name_reports_path}" People with similar name
br
a href="#{funnel_reports_path}" Funnel Report
br
a href="#{historical_data_reports_path}" Historical data
br
a href="#{searches_reports_path}" Latest public searches
br
| #{(Person.not_deleted.where("linkedin = '' OR linkedin IS NULL").pluck(:id) - Attachment.pluck(:person_id)).size} People have no Linkedin or CV Attachment
br
| #{(Person.not_deleted.pluck(:id) - Note.pluck(:person_id)).size} People without notes
br
| #{Person.not_deleted.where('created_at > ?', 1.month.ago).count} People added last month
br
| #{Note.where('created_at > ?', 1.month.ago).pluck(:person_id).uniq.count} Unique people contacted last month
